<div class="card m-3">
  <div class="card-header">
    <div class="card-title h4">
      Document Review
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="documents.length === 0">No documents to review.</div>

    <ul class="list-group" *ngIf="documents.length > 0">
      <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let document of documents">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{ document.title }}</div>
          Submitted by: {{ document.submittedBy }}
        </div>
        <div class="document-actions">
          <button class="btn btn-primary m-2" (click)="approveDocument(document)">Approve</button>
          <button class="btn btn-danger  m-2" (click)="rejectDocument(document)">Reject</button>
        </div>
      </li>
    </ul>
  </div>
</div>