<div>
  <div class="card m-3">
    <div class="card-header">
      <div class="card-title h4">
        Generate Digital Signature
      </div>
    </div>
    <div class="card-body">
      <div class="text-center">
        <div class="signature-pad">
          <canvas id="signatureCanvas"></canvas>
        </div>
        <div class="signature-btn d-flex">
          <button (click)="saveSignature()" class="btn btn-primary m-3">Save Signature</button>
          <button (click)="downloadSignature()" class="btn btn-success  m-3">Download Signature</button>
        </div>
      </div>      
    </div>
  </div>

</div>