<div class="container mt-5">
    <h2>Candidate Enrollment</h2>
    <div class="form-group text-center">
        <div class="document-item">
            <div class="document-details">
            
              <p class="text-secondary">Upload Candidate's Resume:</p>
            </div>
            <input class="form-control" type="file" (change)="handleFileChange($event)"  accept=".pdf,.jpg,.jpeg,.png" multiple>
          </div>
        <button *ngIf="!previewResume" class="btn btn-primary mt-3 mr-2" type="button">Upload</button>
        <button *ngIf="previewResume" class="btn btn-primary mt-3 " type="button"
            (click)="open(content)">preview</button>
    </div>
    <div class="mb-3" *ngIf="previewResume">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    Candidate Personal Details
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" id="name" [(ngModel)]="candidateDetails.name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" [(ngModel)]="candidateDetails.email"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input type="tel" id="phone" [(ngModel)]="candidateDetails.phone" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="dob">Date of Birth:</label>
                                <input type="date" id="dob" [(ngModel)]="candidateDetails.dob" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender:</label>
                                <select id="gender" [(ngModel)]="candidateDetails.gender" class="form-control">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="nationality">Nationality:</label>
                                <input type="text" id="nationality" [(ngModel)]="candidateDetails.nationality"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="mb-3" *ngIf="previewResume">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-1">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    Past Experience
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="company">Company Details:</label>
                                <input type="text" id="company" [(ngModel)]="candidateDetails.company"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="technology">Technologies Worked On:</label>
                                <input type="text" id="technology" [(ngModel)]="candidateDetails.technology"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="mb-3" *ngIf="previewResume">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-2">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    Past Experience
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="skills">Skills:</label>
                                <textarea id="skills" [(ngModel)]="candidateDetails.skills"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>

    <div class="text-center">
        <button (click)="handleSave()" *ngIf="previewResume" class="btn btn-primary mt-3">Save</button>
    </div>

    <div *ngIf="showPopup" class="popup alert alert-success">
        <p>Candidate information saved successfully!</p>
        <div class="button-container">
            <a routerLink="/profile-management" class="btn btn-primary mr-2">Go to Profile Management</a>
            <button (click)="closePopup()" class="btn btn-secondary">Close</button>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile Preview</h4>
    </div>
    <div class="modal-body">
        <iframe [src]="previewResume" width="100%" height="600px" title="Resume Preview"></iframe>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('close')">Close</button>
    </div>
</ng-template>