<div class="navbar">
  <div class="row">
    <div class="col-2">
      <a class="logo" [routerLink]="['/home']">
        <div class="logo-container">
          <img src="assets/images/logo.png" alt="Logo">
          <div class="logo-text">
            <span>E-onboard</span>
            <span class="slogan">Your Onboarding Solution</span>
          </div>
        </div>
      </a>
    </div>
    <div class="col-7">

    </div>
    <div class="col-3">
      <div class="row mt-5">
        <div class="col-8">
          <div>
            <ng-container *ngIf="isLoggedIn">
              <div class="d-flex">                
                <span><a class="user-email text-primary" [routerLink]="['/profile']"> {{ loggedInUserEmail
                    }}</a> </span>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-4">
          <div>
            <ng-container *ngIf="isLoggedIn">
              <div class="d-flex">
                <span class="mr-2"><a href="#" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a></span>
                <a class="notifications" (click)="showNotification()">
                  <i class="fas fa-bell"></i>
                  <span class="notification-badge">{{ notificationCount }}</span>
                </a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-notification (notificationClosed)="handleNotificationClosed()"></app-notification> -->

  <div class="modal right" tabindex="-1" [ngClass]="{'show fade': showModal, 'hide': !showModal}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Notification</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="handleNotificationClosed()"></button>
        </div>
        <div class="modal-body">
          <app-notification (notificationClosed)="handleNotificationClosed()"></app-notification>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="handleNotificationClosed()">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop show d-none"  [ngClass]="{'d-block fade': showModal, 'd-none': !showModal}"></div>