.navbar {
  background-color: #333;
  padding: 0 20px;
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Style for the navigation bar links */
.navbar a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 14px 4px; /* Adjust the padding values as per your preference */
}

/* Style for the active link */
/* .navbar a.active {
  background-color: #4CAF50;
} */

/* Style for the logo */
.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar .logo img {
  height: 30px;
  width: auto;
  vertical-align: middle;
  margin-right: 10px;
}

.navbar a.notifications {
  position: relative;
}

.navbar .notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 12px;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.navbar .logo-container {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 40px;
  width: auto;
  margin-right: 5px;
}

.navbar .logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive, Arial, sans-serif;
  text-align: center;
}

.navbar .logo-text span {
  font-size: 25px;
  line-height: 1;
}

.navbar .logo-text .slogan {
  font-size: 14px;
  color: #777;
  font-style: italic;
  transform: rotate(359deg);
  margin-top: 10px;
}

.navbar {
  display: block;
  height: 100px;
  z-index: 99999;
}

.modal.show {
  display: block !important;
}

.modal-dialog {
  margin-top: 10%;
  transform: none;
  right: 0;
  position: absolute;
}

.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 420px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: 0px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: -320px;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
    color: black;
    font-weight: 700;
	}
