<nav class="sidebar">
  <ul class="list-unstyled" *ngIf="loginType==='admin'">
    <li *ngFor="let item of adminNavItems" [ngClass]="{'active' : item.isSelected}">
      <a [routerLink]="[item.url]" (click)="setNavSelection(item)">
        <i class="{{getIcon(item)}}"></i>
        <span class="menu-text">{{item.title}}</span>
        <i class="fas fa-chevron-down" *ngIf="item.subItems.length"></i>
      </a>
      <ul class="sub-menu">
        <li *ngFor="let subitem of item.subItems">
          <a [routerLink]="subitem.url" (click)="setNavSelection(subitem)" *ngIf="!subitem.isLink">
            <i class="{{getIcon(subitem)}}"></i>
            <span class="sub-menu-text">{{subitem.title}}</span>
          </a>
          <a [href]="subitem.url" (click)="setNavSelection(subitem)" target="_blank" *ngIf="subitem.isLink" download>
            <i class="{{getIcon(subitem)}}"></i>
            <span class="sub-menu-text">{{subitem.title}}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="list-unstyled" *ngIf="loginType==='candidate'">
    <li *ngFor="let item of candidateNavItems" [ngClass]="{'active' : item.isSelected}">
      <a [routerLink]="item.url" (click)="setNavSelection(item)" >
        <i class="{{getIcon(item)}}"></i>
        <span class="menu-text">{{item.title}}</span>
      </a>
      <ul class="sub-menu">
        <li *ngFor="let subitem of item.subItems">
          <a [routerLink]="subitem.url" (click)="setNavSelection(subitem)"  *ngIf="!subitem.isLink">
            <i class="{{getIcon(subitem)}}"></i>
            <span class="sub-menu-text">{{subitem.title}}</span>
          </a>
          <a [href]="subitem.url" (click)="setNavSelection(subitem)" target="_blank" *ngIf="subitem.isLink" download>
            <i class="{{getIcon(subitem)}}"></i>
            <span class="sub-menu-text">{{subitem.title}}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>