.image-gallery {
  width: 100%;
}

.image-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.picsum-img-wrapper {
  display: flex;
  justify-content: center;
}

.image-container {
  width:100%; /* Set your desired width here */
  height: 700px; /* Set your desired height here */
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background */
  color: #fff; /* Set the text color */
  padding: 10px;
}

.carousel-caption h3,
.carousel-caption p {
  margin: 0;
  font-size: 18px; /* Adjust the font size as needed */
}

