<div class="profile-management">
  <h2>Profile Management</h2>

  <div class="form-group">
    <input type="text" id="profileSearch" class="form-control p-3" placeholder="Candidate search" [(ngModel)]="profileSearch" (input)="onProfileSearch()" />
  </div>
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel *ngFor="let item of filteredProfiles">
      <ng-template ngbPanelTitle>
        {{ item.firstName }}
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="profileName">First Name:</label>
              <input type="text" id="profileName" [(ngModel)]="item.firstName" class="form-control" [disabled]="!isEditable">
            </div>
            <div class="form-group">
              <label for="profileName">Last Name:</label>
              <input type="text" id="profileName" [(ngModel)]="item.lastName" class="form-control" [disabled]="!isEditable">
            </div>
            <div class="form-group">
              <label for="profileEmail">Email:</label>
              <input type="email" id="profileEmail" [(ngModel)]="item.email" class="form-control" [disabled]="!isEditable">
            </div>
            <div class="form-group">
              <label for="profilePhone">Phone:</label>
              <input type="tel" id="profilePhone" [(ngModel)]="item.phone" class="form-control" [disabled]="!isEditable">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="profileDob">Date of Birth:</label>
              <input type="date" id="profileDob" [(ngModel)]="item.dob" class="form-control" [disabled]="!isEditable">
            </div>
            <div class="form-group">
              <label for="profileGender">Gender:</label>
              <select id="profileGender" [(ngModel)]="item.gender" class="form-control" [disabled]="!isEditable">
                <option value="m">Male</option>
                <option value="f">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
            <div class="form-group">
              <label for="profileNationality">Nationality:</label>
              <input type="text" id="profileNationality" [(ngModel)]="item.nationality" class="form-control" [disabled]="!isEditable">
            </div>
          </div>
        </div>
        <div>
           <a [routerLink]="['/your-application']" [queryParams]="{ applicationId: item.id }" class="candidate-link">View Candidates Application</a>
        </div>
        <div class="text-center">
          <button class="btn btn-primary m-3" *ngIf="!isEditable" (click)="editProfile(item.id)">Edit</button>
          <button class="btn btn-primary m-3" *ngIf="isEditable" (click)="isEditable = false">Save</button>
          <button class="btn btn-outline-primary m-3" *ngIf="isEditable" (click)="isEditable = false">Cancel</button>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

<div class="modal" tabindex="-1" [ngClass]="{'show fade': showModal, 'hide': !showModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Edit Profile</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="saveProfile()"></button>
      </div>
      <div class="modal-body">
        <form name="profileEdit">
          <div class="form-group">
            <label for="editName">Name</label>
            <input type="text" id="editName" name="editName" class="form-control" [(ngModel)]="selectedProfile.name" />
          </div>
          <div class="form-group">
            <label for="editEmail">Email</label>
            <input type="text" id="editEmail" name="editEmail" class="form-control" [(ngModel)]="selectedProfile.email" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal" (click)="saveProfile()">Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveProfile()">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show d-none" [ngClass]="{'d-block fade': showModal, 'd-none': !showModal}"></div>
