
.main-content {
  margin-left: 20%;
  margin-top: 100px;
  padding: 50px;
  opacity: 0.8;  
  display: inline-block;
  width: 80%;
  background-color: #f7ffe9;
  color: #000;
  height: calc(100vh - 100px);
  overflow: auto;
}