.main-content {
  margin-left: 300px;
  margin-top: 100px;
  margin-right: 0px;
  padding: 20px;
  display: inline-block;
  width: calc(100% - 300px);
  background-color: rgba(247, 255, 233, 0.8);
  color: #000;
  height: calc(100vh - 150px);
  overflow: auto;
  text-align: center; /* Center align the content */
}


