.benefits-section {
  margin-bottom: 30px;
}

.benefits-section p {
  font-size: 18px;
 
  text-align: left;
}

.accordion-item {
  padding: 20px;
  margin-bottom: 20px;
}

.accordion-item .accordion-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  padding: 10px;
  border-radius: 5px;
}

.accordion-item .accordion-heading:hover {

}

.accordion-item .accordion-heading .heading-text {
  margin-left: 10px;
  font-size: 18px;
}

.accordion-item .toggle-icon {
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
}

.accordion-item.expanded .toggle-icon {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.accordion-content {
  display: none;
  padding: 10px;

}

.accordion-content.show {
  display: block;
}


