
  <div class="benefits-section">
    <h2>Employee Benefits</h2>
    <p>At Moback, we offer a range of benefits to our employees</p>
    
    <div class="accordion" #accordionItems>
      <div class="accordion-item" *ngFor="let benefit of benefits">
        <h3 class="accordion-heading" (click)="toggleAccordion(benefit)" [ngClass]="{'expanded': benefit.expanded}">
          <span class="heading-text">{{ benefit.title }}</span>
          <span class="toggle-icon">&#9660;</span>
        </h3>
        <div class="accordion-content" [ngClass]="{'show': benefit.expanded}">
          <p>{{ benefit.description }}</p>
        </div>
      </div>
    </div>
  </div>

