<div class="main-content">
  <div class="company-info">
    <h3>About Moback</h3>
    <p>We are an augmented reality / virtual reality technology company. That means we use AR/VR to solve problems for
      clients and create new products that help companies innovate.</p>

    <p> We’ve been in business since 2011 building all kinds of apps, games, websites, and enterprise software. When
      AR/VR technologies became viable for mass adoption in 2015, we took it on ourselves to help the spread of this
      exciting technology.</p>
  </div>

  <app-team-members></app-team-members>
  <div class="contact-info">
    <h3>Contact Us</h3>
    <p>Email: info@moback.com</p>
    <p>Phone: 123-456-7890</p>
  </div>
  <div class="headquarters">
    <h3>Headquarters</h3>
    <p>2010 N 1st St
    </p>
    <p> Ste 400, San Jose, CA 95131, USA</p>
  </div>
  <div class="qr-code">
    <h6> You can visit Moback's official website to know more:</h6>
    <img src="../../assets/images/moback-QR.jpeg" alt="Referral QR Code">
    <p><a href="https://www.moback.com/" target="_blank">https://www.moback.com/</a></p>

  </div>
</div>