
  
  .welcome-section {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .welcome-section h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .welcome-section p {
    font-size: 18px;
    color: #777;
  }

    .qr-code {
      margin-top: 30px;
    }
    
    .qr-code img {
  
      max-width: 200px; /* Adjust the desired width */
      height: auto;
    }

   
    /* Add any additional styling for the team member cards */
    