.navbar {
    background-color: #333;
    padding: 20px;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* Style for the navigation bar links */
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 4px; /* Adjust the padding values as per your preference */
  }

  /* Style for the active link */
  /* .navbar a.active {
    background-color: #4CAF50;
  } */

  /* Style for the logo */
  .navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }

  .navbar .logo img {
    height: 30px; 
    width: auto; 
    vertical-align: middle;
    margin-right: 10px; 
  }

  .navbar a.notifications {
    position: relative;
  }
  
  .navbar .notification-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 12px;
  }