.main-content {
    margin-left: 200px;
    padding: 20px;
    background-color: #2D3436;
    opacity: 0.8;
    width: 50%;
    border-radius: 45px;
  }
  
  .trainings-section {
    margin-bottom: 30px;
  }
  
  .trainings-section h2 {
    font-size: 32px;
    /* color: #333; */
    margin-bottom: 10px;
  }
  
  .trainings-section p {
    font-size: 18px;
    /* color: #777; */
  }
  
  .training-list {
    list-style: none;
    margin-left: 0;
    padding-left: 20px;
  }
  
  .training-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .training-item i {
    color: #4caf50;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .training-item span {
    font-size: 18px;
    /* color: #333; */
  }
  
  .contact-info h3 {
    font-size: 24px;
    /* color: #333; */
    margin-bottom: 10px;
  }
  
  .contact-info p {
    font-size: 18px;
    /* color: #777; */
  }