.container {
    display: flex;
    height: 100vh; /* Set the container height to occupy the full viewport height */
  }
  
  .app-sidebar {
    width: 250px; /* Adjust the width of the sidebar according to your design */
    background-color: #f1f1f1; /* Set the background color of the sidebar */
    padding: 20px;
  }
  
  .main-content {
    margin-left: 250px; /* Adjust the margin-left value to match the width of the sidebar */
    padding: 20px;
    margin-top: 100px;
  }
