<div class="team-members">
    <div class="member">
      <img src="assets/images/CEO-profile-image.jpeg" alt="Team Member 1">
      <h3>Devkumar Gandhi</h3>
      <p>CEO & Co-Founder</p>
      <p>Devkumar Gandhi has 2 current jobs as CEO & Co-Founder at Moback and CEO & Co-founder at Dobango. Additionally, Devkumar Gandhi has had 5 past jobs including Founder at Hmatix Inc.</p>
    </div>
    
    <div class="member">
      <img src="assets/images/CTO.png" alt="Team Member 2">
      <h3>Uday Nayak</h3>
      <p>Co-Founder & CTO</p>
      <p> Experienced in providing strategic, operational and technical leadership with a strong customer focus, identifying key technology trends, building mission critical scalable products and bringing them to market, hiring, mentoring, motivating and managing key personnel and global teams.</p>
    </div>
    <div class="member">
        <img src="assets/images/Vice-president.jpeg" alt="Team Member 2">
        <h3>Sriram Srinivasan</h3>
        <p>Vice President Operations</p>
        <p> A senior professional with 20+ years of IT experience and a specialist in leading business operations functions. Managed PMOs of large customer engagements with revenues exceeding 100M USD per annum in last 3 assignments (700M USD), supporting clients from different geographies – North America, ANZ & Europe and from different domains – Financial Services Sector & Healthcare.</p>
      </div>
      <div class="member">
        <img src="assets/images/HR-profile.jpeg" alt="Team Member 2">
        <h3>Debadrita Nandy </h3>
        <p>HR Executive</p>
        <p>An ardent HR Recruiter hiring for multiple tech roles in reputed companies across India.</p>
      </div>
      <div class="member">
        <img src="assets/images/operation-executive-profile.jpeg" alt="Team Member 2">
        <h3>Jayanta Kumar Pal </h3>
        <p>Operation Executive</p>
        <p>Experienced Human Resource Consultant with a demonstrated history of working in the information technology and services industry. Strong Human Resources professional skilled in Executive Search, & IT Manpower Sourcing.</p>
      </div>
  </div>
